@import "../../styles/variable.scss";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2); /**/
    @media screen and(min-width:$tablet) {
        flex-direction: column;
        justify-content: initial;
        padding: 33px 50px 27px;
    }
    @media screen and(min-width:$desktop) {
        flex-direction: row;
        justify-content: space-between;
        padding: 35px 40px 25px;
    }
}
.logo {
    font-family: "antonio";
    font-weight: 500;
    font-size: 1.75rem;
    letter-spacing: -1.05px;
    @media screen and(min-width:$tablet) {
        margin-bottom: 40px;
    }
    @media screen and(min-width:$desktop) {
        margin-bottom: initial;
    }
}
.menu_btn {
    background-color: transparent;
    border: none;
    @media screen and(min-width:$tablet) {
        display: none;
    }
}
.menu_btn_open {
    opacity: 0.25;
    @media screen and(min-width:$tablet) {
        display: none;
    }
}
.navigation {
    display: none;
    @media screen and(min-width:$tablet) {
        display: flex;
        gap: 33px;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: "spartan";
        font-weight: 700;
        font-size: 0.9375rem;

        line-height: 1.56rem;
        letter-spacing: 1.36px;
        position: relative;
        margin-left: 45px; /**/
        transition: all 0.3s ease-in;
        @media screen and (min-width: $tablet) {
            font-size: 0.6875rem;
            letter-spacing: 1px;
            margin-left: initial;
        }
    }

    hr {
        border: none;
        height: 1px;
        background-color: hsla(0, 0%, 100%, 0.1); /**/
        @media screen and(min-width:$tablet) {
            display: none;
        }
    }
}

.navigation_mobile {
    background-color: var(--Dark);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    right: 0;
    padding: 43px 24px 60px;
    @media screen and(min-width:$tablet) {
        display: none;
    }
}
