@import "../../styles/variable.scss";
.btn_wrap {
    transition: all 0.3s ease-in;
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    text-decoration: none;
    @media screen and(min-width:$tablet) {
        text-transform: uppercase;
        color: var(--Light);
        font-family: "spartan";
        font-weight: 700;
        font-size: 0.5625rem;
        line-height: 0.625rem;
        letter-spacing: 2px;
        padding: 8px 20px;
        display: flex;
    }
    @media screen and(min-width:$desktop) {
        font-size: 0.75rem;
        line-height: 1.56rem;
        letter-spacing: 2.57px;
    }
    &:hover {
        background-color: hsla(0, 0%, 85%, 0.2);
        border: 1px solid transparent;
    }

    span {
        color: hsla(0, 0%, 100%, 0.5);
        margin-right: 15px;
    }
}

.Mercury {
    background-color: var(--Mercury);
    border: 1px solid var(--Mercury);
}
.Venus {
    background-color: var(--Venus);
    border: 1px solid var(--Venus);
}
.Earth {
    background-color: var(--Earth);
    border: 1px solid var(--Earth);
}
.Mars {
    background-color: var(--Mars);
    border: 1px solid var(--Mars);
}
.Jupiter {
    background-color: var(--Jupiter);
    border: 1px solid var(--Jupiter);
}
.Saturn {
    background-color: var(--Saturn);
    border: 1px solid var(--Saturn);
}
.Uranus {
    background-color: var(--Uranus);
    border: 1px solid var(--Uranus);
}
.Neptune {
    background-color: var(--Neptune);
    border: 1px solid var(--Neptune);
}
